<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{site.title}} | {{page.title}}</title>
        {% for post in site.posts %}
        <meta name="description" content="{{post.title}}" />
        <meta
            property="twitter:url"
            content="https://chiefportable.github.io"
        />
        <meta property="twitter:title" content="{{post.title}}" />
        <meta property="twitter:description" content="{{post.title}}" />

        {% endfor %}
        <meta name="keywords" content="{{site.keywords}}" />
        <link
            rel="shortcut icon"
            href="assets/sankofa.svg"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="/assets/css/styles.css" />

        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <main class="mx-auto max-w-3xl px-4 text-zinc-900 font-mono">
            <nav class="flex justify-between items-center p-6 mb-12">
                <div>
                    <a href="/">
                        <img
                            src="assets/sankofa.svg"
                            alt="logo"
                            width="40"
                            height="33"
                        />
                    </a>
                </div>
                <div class="space-x-2">
                    <a href="https://github.com/chiefportable">Github</a>
                    <a href="https://twitter.com/ChiefPortable">Twitter</a>
                    <a href="/#project">Projects</a>
                    <a href="/post">Post</a>
                </div>
            </nav>

            <div class="my-3">
                <a href="/post" class="text-xl"> < back </a>
            </div>

            <h1 class="text-2xl font-bold text-blue-900">{{page.title}}</h1>
            <div class="flex space-x-2 my-2">
                <span
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="30"
                        height="30"
                        fill="currentColor"
                        class="bi bi-calendar-check"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0"
                        />
                        <path
                            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"
                        />
                    </svg>
                </span>
                <span class="text-zinc-500"
                    >{{ page.date | date: ' %b %d, %Y' }}</span
                >
            </div>
            {{ content }}

            <div class="py-10 flex justify-between">
                <p>
                    Copyright &copy; {{site.time | date: '%Y'}} | All rights
                    reserved.
                </p>
                <div class="flex space-x-2">
                    <a href="https://github.com/chiefportable" target="_blank"
                        ><img
                            src="assets/github.svg"
                            alt="github logo"
                            width="30"
                            height="23"
                        />
                    </a>
                    <a href="https://twitter.com/chiefportable" target="_blank">
                        <img
                            src="assets/x.svg"
                            alt="github logo"
                            width="30"
                            height="23"
                        />
                    </a>
                </div>
            </div>
        </main>
    </body>
</html>
