<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title }}</title>
        <meta name="description" content="{{site.description}}" />
        <meta name="keywords" content="{{site.keywords}}" />
        <link
            rel="shortcut icon"
            href="/assets/sankofa.svg"
            type="image/x-icon"
        />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="mx-auto max-w-3xl px-4 text-zinc-900 font-mono">
        <nav class="flex justify-between items-center p-6 mb-12">
            <div>
                <a href="/">
                    <img
                        src="assets/sankofa.svg"
                        alt="logo"
                        width="40"
                        height="33"
                    />
                </a>
            </div>
            <div class="space-x-2">
                <a href="https://github.com/chiefportable">Github</a>
                <a href="https://twitter.com/ChiefPortable">Twitter</a>
                <a href="/#project">Projects</a>
                <a href="/post">Post</a>
            </div>
        </nav>

        <div>
            <p><a href="/">Home</a> > Posts</p>
            <h2 class="text-2xl font-bold my-2">Posts</h2>
            <p class="mb-5">All the articles I've posted.</p>

            <div>{{ content }}</div>
        </div>

        <div class="py-10 flex justify-between">
            <p>
                Copyright &copy; {{site.time | date: '%Y'}} | All rights
                reserved.
            </p>
            <div class="flex space-x-2">
                <a href="https://github.com/misteread" target="_blank"
                    ><img
                        src="assets/github.svg"
                        alt="github logo"
                        width="30"
                        height="23"
                    />
                </a>
                <a href="https://twitter.com/chiefportable" target="_blank">
                    <img
                        src="assets/x.svg"
                        alt="github logo"
                        width="30"
                        height="23"
                    />
                </a>
            </div>
        </div>
    </body>
</html>
